.icon-up {
    background-image: url('./../images/icon-up@2x.png');
    background-size: contain;
}

.icon-down {
    background-image: url('./../images/icon-down@2x.png');
    background-size: contain;
}