.icon-up {
    background-image: url('./../images/icon-up@2x.png');
    background-size: contain;
}

.icon-down {
    background-image: url('./../images/icon-down@2x.png');
    background-size: contain;
}

.icon-more {
    background-image: url('./../images/icon-more.svg');
    background-size: contain;
}

.icon-menu {
    background-image: url('./../images/icon-menu.svg');
    background-size: contain;
}